@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height:400px;">
    <img src="~/Content/fires.jpg" style="height:100%;"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Select a Year:</h3>
        <div class='col-sm-6'>
            <div class="form-group">
                <form method="post">
                    <input type='text' class="form-control" id="year" name="year" />
                    <input type="submit" class="btn btn-primary" style="margin-top:10px;">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Output:</h3>
        <div id="output">

        </div>
    </div>
</div>